<?php
namespace Wvpn\Client;

class ClientConfig{
    /**
     *
     */
    protected $config;

    public function getConfig()
    {
        return $this->config; 
    }

    public function __construct($config = null)
    {
        // merge custom config here
        if(!empty($config)){
            $this->mergeConfigs( $config, static::getDefaultConfigArray() );
        }else{
            $this->config = static::getDefaultConfigArray();
        }
    }

    protected function mergeConfigs( array $customConfig, array $defaultConfig ){

    }

    /**
     * Default webService Client Config 
     * Default config merge/overwrite by cofnig pass in by constructor
     */
    public static function getDefaultConfigArray()
    {
        return array(
            'client' => array(
                'ssl-verify' => false,
                'headers' => array(
                    'Accept' => 'application/json',
                ),
            ),
            'service' => array(
                'radius' => array(
                        'class'     => 'Wvpn\Client\ServiceClient\Radius',
                        'url'       => 'http://api-test.dev.alfredkan.com/radius/',
                        //'url'       => 'https://devws.watervpn.com/radius/',
                        //'url'       => 'https://ws.watervpn.com/radius/',
                        'user'      => 'username',
                        'passwd'    => 'password',
                ),
                'openvpn' => array(
                        'class'     => 'Wvpn\Client\ServiceClient\Openvpn',
                        'url'       => 'http://api-test.dev.alfredkan.com/openvpn/',
                        //'url'       => 'https://devws.watervpn.com/openvpn/',
                        //'url'       => 'https://ws.watervpn.com/openvpn/',
                        'user'      => 'username',
                        'passwd'    => 'password',
                ),
                'rsa' => array(
                        'class'     => 'WvpnClient\Client\RAS',
                        'url'       => 'https://api-test.dev.alfredkan.com/rsa/',
                        'user'      => 'username',
                        'passwd'    => 'password',
                ),
            ),
        );
    }

    public function getServiceConfig( $service )
    {
        $serviceConfig = $this->getConfig();
        if(isset($serviceConfig['service'][$service])){
            return $serviceConfig['service'][$service];
        }
    }

    public function getClientConfig()
    {
        $serviceConfig = $this->getConfig();
        return $serviceConfig['client'];
    }

    
}



